  @media only screen and (min-width:940px){
  .main-sec{
    width: 100%;
  }
  .ever-wondered{
    width: 100%;
    padding: 2rem 0;
    background-color: #00ab5b;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .globe{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  .left-wonder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wonder{
    font-size: 2rem;
    font-weight: bold;
  }
  .think{
    font-size: 1.3rem;
  }
  .right-wonder{
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .img-tech{
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .brazil{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .right-brazil{
    order:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .left-brazil{
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
  }
  .green-world{
    display: none;
  }
  .br-img{
    width: 100%;
    max-width: 550px;
    height: auto;
  }
  .tips{
    width: 100%;
  }
  .plant-man{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
  .plant-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-plus-button{
    width: 70%;
  }
  .ever-wondered{
    
  }
}

.main-sec{
  width: 100%;
}

.ever-wondered{
  width: 100%;
  padding: 2rem 0;
  background-color: #00ab5b;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.globe{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;

}
.brazil{
  width: 90%;
}