@media only screen and (min-width:940px){
  .main-upsection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    width: 70%;
  }
  .imgupsection{
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  .main-up{
    width: 100%;
  }
  .rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 95%;
  }
  .t-up{
    font-size: 1.25rem;
  }
  .boxes{
    display: none;
  }
  .group-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }
  .tclass{
    text-align: center;
    margin-bottom: 2rem;
  }
  .right-group{
    width: 100%;
    order:2;
    display: flex;
    flex-direction: column;
  }
  .boxes-desktop{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-group{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-group img{
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  .earth-breathe{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    margin-bottom: 1rem;
  }
  .we-are{
    width: 70%;
    margin: auto;
  }
  .read-docs{
    display: flex;
    flex-direction: column;
  }
  .second-border{
    width: 80%;
  }
  .travel{
    font-size: 1.5rem;
    font-weight: 600;

  }
  .travel-nature{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #00ab5b;
    font-weight: 700;
  }
  .img-man{
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  /* shapes */
  .custom-shape-divider-top-1670846940 {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
  }
  
  .custom-shape-divider-top-1670846940 svg {
    position: relative;
    display: block;
    /* width: calc(280% + 1.2px); */
    width: 200%;
    height: 950px;
  }
  
  .custom-shape-divider-top-1670846940 .shape-fill {
    fill: #00AB5B;
  }
  .global-2{
    width: 100%;
    padding: 2rem 0;
    background-color: #00AB5B;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  }
}

.main-up{
    width: 100%;
}

.main-upsection{
  width: 90%;
}

.group-grid{
  width: 90%;
}
  .global-2{
    width: 100%;
    padding: 2rem 0;
    background-color: #00AB5B;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  }
  .travel-guide{
    width: 90%;
  }
  .travel{
    font-size: 1.2rem;
    font-weight: 700;

  }
  .travel-nature{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #00ab5b;
    font-weight: 600;
  }

/* SHAPE TOP MOBILE*/
  .custom-shape-divider-top-1670943485 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1670943485 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1670943485 .shape-fill {
    fill: #00AB5B;
}

/** For mobile devices **/
@media (max-width: 940px) {
  .custom-shape-divider-top-1670943485 svg {
    width: calc(1200% + 1.3px);
    /* width: 90rem; */
    /* height: 289px; default*/
    height: 100rem;
    z-index: -1;
  }
}
@media (min-width:940px){
  .custom-shape-divider-top-1670943485{
    display: none;
  }
}